<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="http://code.angularjs.org/angular-1.0.0rc5.min.js"></script>
    <script src="http://code.angularjs.org/angular-resource-1.0.0rc5.min.js"></script>
    <script src="app.js"></script>
    <meta charset="UTF-8">
    <title>The best TODO app</title>
</head>
<body>
<div ng-app="task" ng-cloak>
    <div class="container">
        <h2>TODOs</h2>

        <div ng-view></div>

        <!-- CACHE FILE: list.html -->
        <script type="text/ng-template" id="list.html">
            <input type="text" ng-model="search" class="search-query" placeholder="Search">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Task Content</th>
                    <th>Priority</th>
                    <th><a href="#/new"><i class="glyphicon-plus"></i></a></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="task in tasks | filter:search | orderBy:'name'">
                    <td>{{task.name}}</td>
                    <td>{{task.description}}</td>
                    <td>{{task.priority}}</td>
                    <td>
                        <a href="#/edit/{{task._id.$oid}}"><i class="glyphicon-pencil"></i></a>
                    </td>
                    <td>
                        <a href="#/view/{{task._id.$oid}}"><i class="glyphicon-eye-open"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </script>


        <!-- CACHE FILE: detail.html -->
        <script type="text/ng-template" id="detail.html">
            <form name="myForm">
                <div class="control-group" ng-class="{error: myForm.name.$invalid}">
                    <label>Name</label>
                    <input type="text" name="name" ng-model="task.name" required>
                <span ng-show="myForm.name.$error.required" class="help-inline">
                    Required</span>
                </div>

                <label>Description</label>
                <textarea name="description" ng-model="task.description"></textarea>

                <label>Priority</label>
                <input type="text" name="priority" ng-model="task.priority">

                <br>
                <a href="#/list" class="btn">Cancel</a>
                <button ng-click="save()" ng-disabled="myForm.$invalid"
                        class="btn btn-primary">Save
                </button>
                <button ng-click="destroy()"
                        ng-show="task._id" class="btn btn-danger">Delete
                </button>
            </form>
        </script>

        <!-- CACHE FILE: view.html -->
        <script type="text/ng-template" id="view.html">
            <div>{{task.name}}</div>
            <div>{{task.description}}</div>
            <div>{{task.priority}}</div>
        </script>

    </div>
</div>

</body>
</html>